/* Cores Chat/Icon */

/* Burkyst/Gab */
[data-cid^="20574971-"] .msg .from .icon-chat-subscriber,
#user-lists .list.room .id-20574971 .icon-chat-subscriber,
#user-rollover.id-20574971 .meta.subscriber .status i {
  background: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/ranks-special/Mikey/sub.png") !important;
  background-repeat: no-repeat !important;
}

[data-cid^="20574971-"] .msg .from .icon-chat-cohost,
#user-lists .list.room .id-20574971 .icon-chat-cohost,
#user-rollover.id-20574971 .info .role i.icon-chat-cohost,
[data-cid^="20574971-"] .msg .from .icon-chat-host,
#user-lists .list.room .id-20574971 .icon-chat-host,
#user-rollover.id-20574971 .info .role i.icon-chat-host {
  background: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/ranks-special/Mikey/cohost.png") !important;
  background-repeat: no-repeat !important;
}

#chat [data-cid^="20574971-"] span.un.clickable,
/*.id-20574971 span.un.clickable,*/
#user-lists .list.room .id-20574971 .name,
#user-lists .list.room .is-staff.id-20574971 .name,
#user-lists .list.room .is-dj.id-20574971 .name,
#user-lists .list.room .is-subscriber.id-20574971 .name,
#user-lists .list.room [class*='role'].id-20574971 .name,
#chat .msg .text .id-20574971,
#chat .msg .text .name.id-20574971,
#chat .msg .text .name.id-20574971 .name,
#user-rollover.id-20574971 .username,
#user-rollover.id-20574971 .meta.subscriber .status span,
#user-rollover.id-20574971.is-staff .info .role span {
  color: #e74c3c !important;
}

#user-rollover.id-20574971 .subscriber .thumb,
#user-rollover.id-20574971.is-staff .thumb {
  border-color: #e74c3c !important;
}


/* Credits */
#user-rollover.id-20574971 .meta .p3UserID,
#user-rollover.id- .meta .p3UserID,
#user-rollover.id- .meta .p3UserID {
    display: none !important;
}

#user-rollover.id-20574971 span.showID,
#user-rollover.id- span.showID,
#user-rollover.id- span.showID {
    display: none !important;
}

#user-rollover.id-20574971 .meta .joined:after,
#user-rollover.id- .meta .joined:after,
#user-rollover.id- .meta .joined:after {
    content: "< /> Room Settings Author" !important;
    position: relative;
    display: inline-block;
    top: 2px;
}

/* Maitê */
#user-rollover.id-5842493 .meta .p3UserID {
    display: none !important;
}

#user-rollover.id-5842493 span.showID {
    display: none !important;
}

#user-rollover.id-5842493 .meta .joined:after {
    content: "\A Lindona ❤" !important;
    white-space: pre;
    position: relative;
    display: inline;
    top: 2px;
}
