/* Cores Chat/Icon */

/* MarcosXJ6 */
[data-cid^="6113566-"] .msg .from .icon-chat-subscriber,
#user-lists .list.room .id-6113566 .icon-chat-subscriber,
#user-rollover.id-6113566 .meta.subscriber .status i {
  background: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/ranks-special/Mikey/sub.png") !important;
  background-repeat: no-repeat !important;
}

[data-cid^="6113566-"] .msg .from .icon-chat-cohost,
#user-lists .list.room .id-6113566 .icon-chat-cohost,
#user-rollover.id-6113566 .info .role i.icon-chat-cohost,
[data-cid^="6113566-"] .msg .from .icon-chat-host,
#user-lists .list.room .id-6113566 .icon-chat-host,
#user-rollover.id-6113566 .info .role i.icon-chat-host {
  background: url("https://raw.githubusercontent.com/pitersis/prohibicja/v1/img/ranks-special/Mikey/cohost.png") !important;
  background-repeat: no-repeat !important;
}

#chat [data-cid^="6113566-"] span.un.clickable,
/*.id-20574971 span.un.clickable,*/
#user-lists .list.room .id-6113566 .name,
#user-lists .list.room .is-staff.id-6113566 .name,
#user-lists .list.room .is-dj.id-6113566 .name,
#user-lists .list.room .is-subscriber.id-6113566 .name,
#user-lists .list.room [class*='role'].id-6113566 .name,
#chat .msg .text .id-6113566,
#chat .msg .text .name.id-6113566,
#chat .msg .text .name.id-6113566 .name,
#user-rollover.id-6113566 .username,
#user-rollover.id-6113566 .meta.subscriber .status span,
#user-rollover.id-6113566.is-staff .info .role span {
  color: #e74c3c !important;
}

#user-rollover.id-6113566 .subscriber .thumb,
#user-rollover.id-6113566.is-staff .thumb {
  border-color: #e74c3c !important;
}


/* Credits */
#user-rollover.id-6113566 .meta .p3UserID,
#user-rollover.id-6113566 .meta .p3UserID,
#user-rollover.id-6113566 .meta .p3UserID {
    display: none !important;
}

#user-rollover.id-6113566 span.showID,
#user-rollover.id- span.showID,
#user-rollover.id- span.showID {
    display: none !important;
}

#user-rollover.id-6113566 .meta .joined:after,
#user-rollover.id- .meta .joined:after,
#user-rollover.id- .meta .joined:after {
    content: "<Deus do script/>" !important;
    position: relative;
    display: inline-block;
    top: 2px;
}

/* Karen */
#user-rollover.id-45016436 .meta .p3UserID {
    display: none !important;
}

#user-rollover.id-45016436 span.showID {
    display: none !important;
}

#user-rollover.id-45016436 .meta .joined:after {
    content: "Comunista linda ❤" !important;
    white-space: pre;
    position: relative;
    display: inline;
    top: 2px;
}
